:root {
    --smokey_gray: rgb(117, 117, 117);
    --Tennessee_Orange: rgb(255, 130, 0);
}

body {
    margin: 0;
    background-color: white;
    color: var(--smokey_gray);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*This is the container for the whole header (orange region) its a flex box. This is made up of rows, its children are split into columns*/
#Navigation_Container {
    background-color: var(--Tennessee_Orange);
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

#Navigation_Container h3 {
    margin: 0;
    padding-left: 20px;
}

/*This section is the row of the header that says "ARCUT" and has the nav*/
#Title_and_Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 10px;
}
/*This little block makes sure the title is on the left and the nav is on the right*/
.TitleText {
    margin-left: 10px;
}
nav {
    margin-right: 100px;
    
}

nav li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 25vw;
}


/*This block handles the automatic alignment and justification of content sub containers in the body content area*/
.contentRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    background-color: var(--smokey_gray);
    color: white;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: auto;
}

footer ul li {
    list-style: none;
}

#Copyright_Information {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
